body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: hsl(0, 0%, 98%) !important;
    background-image: url(images/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    transition: background 0.5s;
}

body.dark-mode {
    background-color: hsl(235, 21%, 11%) !important;
    background-image: url(images/bg-desktop-dark.jpg);
    background-repeat: no-repeat;
}


.main-container {
    margin: 70px auto;
    width: 40vw;
}

.btn-light-mode {
    float: right;
}

.btn-light-mode:focus {
    border: none;
    outline: none !important;
    box-shadow: none;
}

#todo-icon {
    margin: 12px 0;
}

#todo-title {
    color: white;
    font-size: 40px;
    letter-spacing: 13px;
}

.todo-add {
    padding: 1.25rem 1.25rem;
    border: none;
    width: 95%;
}

.card.checkbox-add-form {
    flex-direction: row;
}

input#checkbox-title {
    position: relative;
    margin-top: 1.25rem;
    margin-left: 1.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1.5px solid hsl(236, 33%, 92%);
    border-radius: 50%;
}

input#todo-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1.5px solid hsl(236, 33%, 92%);
    border-radius: 50%;
    outline: none;
    transform: translateY(4px);
}

.todo-list input[type="checkbox"]:checked {
    background-image: url(images/icon-check.svg), linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.todo-status {
    display: inline-flex;
    align-items: baseline;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
}


.todo-list li, .todo-tracker li {
    padding: 1.25rem 1.25rem;
}

.todo-list label {
    margin-left: 1.25rem;
    color: hsl(235, 19%, 35%);
    margin-bottom: 0;
}

label.isDone {
    color: hsl(233, 11%, 84%);
    text-decoration: line-through;
}

.todo-status {
    color: hsl(233, 11%, 84%);
}

.todo-status a {
    color: hsl(233, 11%, 84%);
    font-weight: 700;
    font-size: 13px;
}

.todo-status a.active {
    color: hsl(220, 98%, 61%);
}

.todo-status a:hover {
    text-decoration: none;
}

body.dark-mode .todo-add {
    background-color: hsl(235, 24%, 19%);
    color: hsl(234, 39%, 85%);
}

body.dark-mode .card {
    border: 1px solid hsl(235, 24%, 19%);
    background-color: hsl(235, 24%, 19%);
}

body.dark-mode .todo-list li, body.dark-mode .todo-tracker li {
    background-color: hsl(235, 24%, 19%);
    border: 1px solid hsl(234, 11%, 52%);
    border-right: none;
    border-left: none;
}


body.dark-mode .todo-list li label {
    color: hsl(236, 33%, 92%);
}

body.dark-mode .todo-list li label.isDone {
    color: hsl(233, 11%, 84%);
    text-decoration: line-through;
}

body.dark-mode input#todo-checkbox {
    border: 1.5px solid hsl(234, 11%, 52%);
}

body.dark-mode input#checkbox-title {
    border: 1.5px solid hsl(234, 11%, 52%);
}

.todo-filter-mobile {
    display: none;
}

.todo-tracker li.mobile-only {
    display: none;
}

.todo-tracker li.desktop-only {
    border-bottom: none !important;
}

.todo-tracker li.desktop-only p, .todo-tracker li.mobile-only p{
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .main-container {
        width: 90vw;
    }
}

@media screen and (max-width: 600px) {
    .main-container {
        width: 90vw;
    }

    .todo-filter {
        display: none;
    }

    .todo-filter-mobile {
        display: block;
        display: inline-flex;
        justify-content: space-around;
        align-items: space-around;
        flex-direction: row;
        flex-grow: 1;
    }

    li.mobile-only {
        display: block;
    }

    #todo-title {
        font-size: 30px;
    }

    #todo-icon {
        margin: 0px;
    }
}
